.footer {
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    margin-top: auto;
    flex-direction: column;
}

.footer-p {
    color:#fff;
}